<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h2>Create your team</h2>
    <form>
        <label for="teamName">Team Name : </label>
        <input type="text"  id = "exampleInputTeamName" name="teamName"><br><br>
        <label for="lname">Email1 : </label>
        <input type="email" id="exampleInputEmail1" name="email1"><br><br>
        <label for="lname">Email2 : </label>
        <input type="email" id="exampleInputEmail2" name="email2"><br><br>
        <label for="lname">Email3 : </label>
        <input type="email" id="exampleInputEmail3" name="email3"><br><br>
        <label for="lname">Email4 : </label>
        <input type="email" id="exampleInputEmail4" name="email4"><br><br>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>